{% load socialaccount %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/LFSF/css/reset.css">
    <link rel="stylesheet" href="../static/LFSF/css/login.css">
    <title>ログイン</title>
</head>

<body>
    <header>
        <h1>紛失物報告フォーム</h1>
    </header>
    <main>
        <div class="login-container">
            <h2>ログイン</h2>
            {% providers_media_js %}
            <div class="social-login">
                {% for provider in socialaccount_providers %}
                    <a href="{% provider_login_url provider.id %}" class="social-button {{ provider.id }}">
                        {{ provider.name }}でログイン
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
</body>

</html>